<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="center">
    <form action="/host/options" method="get">
      <button>Join as Host / Admin</button>
    </form>
    <form action="/participant" method="get">
      <button>Join as Participant</button>
    </form>
  </div>
</body>
</html>